@model Install

@{
    ViewData["Title"] = "Edit";
}

<h1>Istall Equipmnt</h1>

<h4>Equipment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Install">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="Equipment.Name" class="control-label"></label>
                <input asp-for="Equipment.Name" class="form-control" />
                <span asp-validation-for="Equipment.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Equipment.FarmId" class="control-label"></label>
                <select asp-for="Equipment.FarmId" class="form-control" asp-items="Model.FarmSelectList"></select>
                <span asp-validation-for="Equipment.FarmId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Equipment.EquipmentTypeId" class="control-label"></label>
                <select asp-for="Equipment.EquipmentTypeId" class="form-control" asp-items="Model.EquipmentTypeSelectList"></select>
                <span asp-validation-for="Equipment.EquipmentTypeId" class="text-danger"></span>
            </div>*@
            <label>Put install for Equipment installation and take score for action.</label>
            <input type="hidden" asp-for="Equipment.Id" />
            <input type="hidden" asp-for="Equipment.Name" />
            <input type="hidden" asp-for="Equipment.FarmId" />
            <input type="hidden" asp-for="Equipment.EquipmentTypeId" />
            <input type="hidden" asp-for="Farmer.Id" />
            <input type="hidden" asp-for="Farmer.Score" />
            <input type="hidden" asp-for="Farmer.Firstname" />
            <input type="hidden" asp-for="Farmer.Lastname" />
            <input type="hidden" asp-for="Farmer.AppUserId" />
            <div class="form-group">
                <input type="submit" value="Install" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
